<html>

    <head>
        <title>
            Automatic Issue Classifier
        </title>
    </head>
    <body>
        <h1>Automatic Issue Classifier</h1>
        <p>Automatic Issue Classifier (AIC) is a Transfer Learning based application that automatically classifies issues on GitHub repositories</p>
        <p>The application, once integrated with a repositories assigns a label to any newly created issue</p>
        <p>The following default GitHub labels are currently supported.

            <ul>
                <li>Bug</li>
                <li>Enhancement</li>
                <li>Question</li>
            </ul>

        </p>
        <p>AIC leverages pretrained Transfer Learning based models and is fine-tuned on text extracted from real GitHub repositories</p>
        <hr/>
        <h1>Installation Instructions</h1>
        <p>The application can be installed with a single click by heading to the app page <a href="https://github.com/apps/automatic-issue-classifier">https://github.com/apps/automatic-issue-classifier</a> and clicking install,
            then selecting the repositories to integrate the application with.</p>
        <hr/>



    </body>
</html>
